
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&family=Rubik:ital,wght@1,300&display=swap');

body,html{
    margin: 0;
    padding: 0%;
    height: 100%;
    background-image: url("./img/HS\ Wallpaper.jpg");
    /* background-repeat: no-repeat; */
    font-size: larger;
}

header{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

}

.active-attack {
    animation: goattack 300ms;
}

#joueur1 {
    --animation-translate: 300px;
}

#joueur2 {
    --animation-translate: -300px;
}

@keyframes goattack {
    from {
      transform: translate(0, 0);
    }
    to {
         transform: translate(var(--animation-translate), 0) scale(.5);
    }
  }
  

#titre{
        position: relative;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 45px;
        letter-spacing: 10px;
        background: linear-gradient(90deg, #e31212, #1310e3, #000);
        background-size: 80%;
        animation: animate 5s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);

}

@keyframes animate{
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#vs{
    font-size: 50px;
    font-weight: bold;
    color: red;
    border-radius: 10px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 10px;
}

/* BODY */

/*//////////////////////////// 1er Joueur /////////////////////////////*/

#joueur1{
    background-color: lightyellow;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

#nomjoueur1{
    font-size: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}


/*///////////////////////////// 2eme Joueur /////////////////////////////*/

#joueur2{
    background-color: lightslategrey;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

#nomjoueur2{
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

/*///////////////////////////// Bouton /////////////////////////////*/

button{
    border-radius: 10px;
    background-color: gray;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: black;
    transition: 0.3s;
}

.attack:not(:disabled):hover{
    background-color: red;
    color: black;
    cursor: pointer;
}

.heal:not(:disabled):hover{
    background-color: green;
    color: black;
    cursor: pointer;
}

/*///////////////////////////// Images /////////////////////////////*/


#img1,#img2{
    width: 80%;
    height: 80%;    
}

/*///////////////////////////// Barre de vie /////////////////////////////*/

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color: #d3d3d3;
    border: none;
}

#classej1,#classej2{

    border-top: solid 1px black;
    border-bottom: solid 1px black;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#classej1{
    color: blue;
}

#classej2{
    color: red;
}


/*///////////////////////////// Responsive /////////////////////////////*/

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
    }
    #joueur1,#joueur2{
        width: 100%;
        margin-bottom: 20px;
    }
    #img1,#img2{
        width: 50%;
        height: 50%;
    }
    #vs{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}