
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body,html{
    margin: 0;
    padding: 0%;
    height: 100%;
    background-image: url("./img/HS\ Wallpaper.jpg");
    /* background-repeat: no-repeat; */
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

/*///////////////////////////// HEADER /////////////////////////////*/

header{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

}


#titre{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        letter-spacing: 10px;
        background: linear-gradient(90deg, #e31212, #1310e3, #000);
        background-size: 80%;
        animation: animate 5s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);

}

p, h1, h2 {
    margin: 0;
    padding: 0;
}


@keyframes animate{
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#vs{
    font-size: 50px;
    font-weight: bold;
    color: red;
    border-radius: 10px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 10px;
    font-family: 'Merriweather', serif;
}

/* BODY */

/*//////////////////////////// 1er Joueur /////////////////////////////*/

#joueur1{
    background-color: lightyellow;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

#nomjoueur1{
    font-size: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}


/*///////////////////////////// 2eme Joueur /////////////////////////////*/

#joueur2{
    background-color: lightslategrey;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

#nomjoueur2{
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

/*///////////////////////////// Bouton /////////////////////////////*/

button{
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.attack:hover{
    background-color: red;
    color: black;
}

.heal:hover{
    background-color: green;
    color: black;
}

/*///////////////////////////// Images /////////////////////////////*/


#img1,#img2{
    width: 80%;
    height: 80%;    
}

/*///////////////////////////// Barre de vie /////////////////////////////*/

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color: #d3d3d3;
    border: none;
}

#classej1,#classej2{

    border-top: solid 1px black;
    border-bottom: solid 1px black;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#classej1{
    color: blue;
}

#classej2{
    color: red;
}


/*///////////////////////////// Responsive /////////////////////////////*/
@media screen and (max-width: 768px) {

    main{
        flex-direction: column;
    }
    #titre{
        font-size: 30px;  /* Réduction de la taille du texte */
    }
    
    #nomjoueur1, #nomjoueur2 {
        font-size: 24px;  /* Réduction de la taille du texte */
    }
    
    button {
        font-size: 24px;  /* Réduction de la taille du texte */
    }

    #vs {
        font-size: 40px;  /* Réduction de la taille du texte */
        margin-top: 20px;  /* Réduction de la marge */
        margin-bottom: 20px;  /* Réduction de la marge */
    }
}